In [1]:
from pandas import read_csv
titanic_dataset = read_csv('data/titanic.csv')
import pandas
print(titanic_dataset.keys())

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [2]:
X = titanic_dataset.drop(columns = ['Name','Survived'])
y = titanic_dataset["Survived"]
X = pandas.get_dummies(X)
X.head()

,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Sex_female,Sex_male
0,3,22.0,1,0,7.2500,0,1
1,1,38.0,1,0,71.2833,1,0
2,3,26.0,0,0,7.9250,1,0
3,1,35.0,1,0,53.1000,1,0
4,3,35.0,0,0,8.0500,0,1

In [3]:

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)
print(X)

[[1.         0.27117366 0.125      ... 0.01415106 0.         1.        ]
 [0.         0.4722292  0.125      ... 0.13913574 1.         0.        ]
 [1.         0.32143755 0.         ... 0.01546857 1.         0.        ]
 ...
 [1.         0.08268409 0.125      ... 0.04577135 1.         0.        ]
 [0.         0.32143755 0.         ... 0.0585561  0.         1.        ]
 [1.         0.39683338 0.         ... 0.01512699 0.         1.        ]]

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
lr = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1234)
lr.fit(X_train,y_train)
print(lr.score(X_train,y_train))
print(lr.score(X_test, y_test))

0.7879699248120301
0.8108108108108109

In [8]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth = 3, random_state = 4567)
tree.fit(X_train,y_train)
print(tree.score(X_train,y_train))
print(tree.score(X_test, y_test))

0.8285714285714286
0.8378378378378378

In [13]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 100, max_depth = 5, random_state = 4567)
forest.fit(X_train,y_train)
print(forest.score(X_train,y_train))
print(forest.score(X_test, y_test))

0.843609022556391
0.8558558558558559

In [16]:
from sklearn.ensemble import GradientBoostingClassifier
gboost = RandomForestClassifier(n_estimators = 10, random_state = 4567)
gboost.fit(X_train,y_train)
print(gboost.score(X_train,y_train))
print(gboost.score(X_test, y_test))

0.9639097744360903
0.8198198198198198